body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-1 {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 12px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px 1px rgba(219, 25, 25, 0.2);
}

h1 {
  color: rgb(152, 63, 63);
  font-family: "Times New Roman", Times, serif;
}

.Weather-1 {
  border-radius: 16px;
  padding: 40px;
  max-width: 900px;
  display: block;
  box-sizing: border-box;
  background-attachment: scroll;
  background: url("https://bestanimations.com/media/nature/229614541flowing-stream-river-bends-forest-gif.gif#.Y5jHq0os9FI.link")
    0 0 no-repeat;
  background-size: cover;
  animation: anim-ss steps(23) 1s infinite;
  @keyframes anim-ss {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 100%;
    }
  }
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.Weather-1 form {
  border-bottom: 1px solid f9f7fe;
  margin-top: 40px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}

.location-search {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: start;
  color: rgb(16, 106, 195);
}
.btn {
  width: 2.5em;
  height: 2.5em;
  background: blue;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  transition: 200ms ease-in-out;
  box-shadow: none;
  cursor: pointer;
}
input.fm-ctrl {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 20px;
  background: #c7c7c768;
  color: white;
  font-size: 105%;
  width: calc(105% -70px);
}
.col-auto {
  flex: 0 0 auto;
  width: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--bs-gutter-x) * -0.5);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-top: calc(var(--bs-gutter-y) * -1);
}
.align-items-center {
  align-items: center;
  width: 800px;
}
#location {
  font-size: 3rem;
  font-weight: 800;
  font-style: italic;
}
#city_name {
  position: relative;
  margin-left: 30px;
  font-size: 35px;
}
#city_name span {
  position: absolute;
  right: 40px;
  left: 70px;
  color: bisque;
}
.forecast-time {
  color: blanchedalmond;
}
.forecast-temperature {
  color: whitesmoke;
}
#date_time {
  color: rgb(16, 106, 195);
}
