body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://source.unsplash.com/1600x900/?landscape");
  background: #222;
}
.container-1 {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 12px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px 1px rgba(219, 25, 25, 0.2);
}

h1 {
  color: rgb(152, 63, 63);
  font-family: "Times New Roman", Times, serif;
}

.Weather-1 {
  border-radius: 16px;
  padding: 40px;
  max-width: 900px;
  display: block;
  box-sizing: border-box;
  background: #000000d0;
  background-attachment: scroll;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.Weather-1 form {
  border-bottom: 1px solid f9f7fe;
  margin-top: 40px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}

.location-search {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: start;
  color: rgb(16, 106, 195);
}
.btn {
  width: 2.5em;
  height: 2.5em;
  background: blue;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  transition: 200ms ease-in-out;
  box-shadow: none;
  cursor: pointer;
}
.btn:hover {
  background: #d50808bc;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
}

input.search-bar {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: #7c7c7ca2;
  color: white;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px);
}
.col-auto {
  flex: 0 0 auto;
  width: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--bs-gutter-x) * -0.5);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-top: calc(var(--bs-gutter-y) * -1);
}
.align-items-center {
  align-items: center;
  width: 800px;
}

#city_name {
  position: relative;
  margin-left: 60px;
  font-size: 35px;
  color: antiquewhite;
}
#city_name span {
  position: absolute;
  right: 40px;
  left: 70px;
}
.forecast-time {
  color: rgba(16, 151, 39, 0.742);
}
.monday {
  color: rgb(62, 181, 62);
}
.forecast-temperature {
  color: white;
}
#date {
  color: rgb(16, 106, 195);
}
.description {
  text-transform: capitalize;
  margin-left: 10px;
  color: aliceblue;
}
.wind {
  margin: 20px;
  color: aliceblue;
}

.flex {
  display: flex;
  align-items: center;
}
.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}
.weather.loading:after {
  visibility: visible;
  content: "Loading...";
  color: white;
  position: absolute;
  top: 0;
  left: 20px;
}
